<div class="row">
  <div class="form-group">
    <%= f.label :name %><span class="required">*</span><br />
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <%= f.label :course %><br />
    <%= f.select :course_id, @courses.map { |course| [course.name, course.id] } %>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <%= f.label :active %><br />
    <%= f.check_box :active, { checked: @resource.active }, '1', '0' %>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <%= f.label :batch_students %><br />
    <%= f.collection_select(:active_user_ids, User.active, :id, :name,{}, {:multiple => true}) %>
  </div>
</div>


<%= f.submit %>